{{#if currentUser.isSignedIn}}
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" id="login-menu-link">
      {{currentUser.email}}
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li>
        {{#link-to 'balances'}}Balances{{/link-to}}
      </li>
      <li class="">
        <a href="/workers">
          Workers
        </a>
      </li>
      <li class="">
        <a href="/account">Settings</a>
      </li>
        <li class="">
          <a href="/admin">Admin</a>
        </li>
        <li class="">
          <a href="/admin_audit">Site audit</a>
        </li>
        <li>
          {{#link-to 'changePassword'}}Change password{{/link-to}}
        </li>
        <li>
          <a {{action 'logout'}}>Log out</a>
        </li>
    </ul>
  </li>
{{else}}
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" id="login-menu-link">
      Sign In / Up
      <b class="caret"></b>
    </a>
    <div class="dropdown-menu pull-right shadow" id="login-dropdown-list">
      {{render common/login_box}}
    </div>
  </li>
{{/if}}
