{{#if currentUser.isSignedIn}}
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown">
      {{currentUser.email}}
      <b class="caret"></b>
    </a>
    <div class="dropdown-menu pull-right shadow" id="login-dropdown-list">
      <a {{action 'logout'}} class="btn btn-primary btn-block">Sign out</a>
    </div>
  </li>
{{else}}
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown">
      Sign In / Up
      <b class="caret"></b>
    </a>
    <div class="dropdown-menu pull-right shadow" id="login-dropdown-list">
      {{render common/login_box}}
    </div>
  </li>
{{/if}}
