<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      {{#link-to 'tradeIndex' class="navbar-brand"}}
        <img src="/coinex_logo.png">
        CoinEX
        <sup class="label label-info">beta</sup>
      {{/link-to}}
    </div>

    <div class="navbar-collapse collapse">

      <ul class="nav navbar-nav">
        <li>
          {{#link-to 'tradeIndex'}}Trading{{/link-to}}
        </li>

        <li class="">
          <a href="/mining/pools">
            Mining
            {{#if currentUser.isSignedIn}}
              <span class="badge badge-info">100 Gh/s</span>
            {{/if}}
          </a>
        </li>

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="">
          <a href="/news">
            News
            {{#if currentUser.isSignedIn}}
              <span class="badge badge-info">2</span>
            {{/if}}
          </a>
        </li>

        {{#if currentUser.isSignedIn}}
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">
            Notifications
            <span class="badge badge-info">666</span>
            <b class="caret"></b>
          </a>
          <div class="dropdown-menu pull-right list-group scrollY shadow" id="notifyDropdown">
            {{render notifications}}
          </div>
        </li>
        {{/if}}
        {{render common/login_menu}}

      </ul>

    </div>

  </div>

</nav>
