<div id="emberRoot">
<div class="container" id='initialSpinner'>
  <div class="jumbotron text-center">
    <h1><i class="fa fa-refresh fa-spin"></i></h1>
    <h3><span class="text-muted">CoinEx is loading...</span></h3>
  </div>
</div>
</div>
