<div id="emberRoot">
<div class="container" id='initialSpinner'>
  <div class="jumbotron text-center">
    <h1>
      <i class="fa fa-refresh fa-spin"></i>
      CoinEx loading...
    </h1>
  </div>
</div>
</div>
