<div class="panel panel-default panel-big-heading">
  <div class="panel-heading">
    {{#if switch}}
      SwitchPools | auto-select currency to mine based on profit score
    {{else}}
      {{title}} mining pools
    {{/if}}
    <span class="pull-right">
<!--       <span class="badge badge-info">100</span> -->
      {{#if totalHashrate}}
      <span class="badge badge-success">{{hrate totalHashrate}}</span>
      {{/if}}
    </span>
  </div>
  <table class="table nomargin">
    <thead>
      <tr>
        <th>Name</th>
        {{#if switch}}<th>Now mining</th>{{/if}}
        {{#if user.isSignedIn}}
        <th class="text-right">Your hash</th>
        {{/if}}
        <th class="text-right">Pool hash</th>
        {{#unless switch}}<th class="text-right">Network hash</th>{{/unless}}
        <th class="text-right">Diff</th>
        <th>Last block</th>
        <th class="text-right">Profit score</th>
      </tr>
    </thead>
    <tbody>
      {{#each curr in currencies}}
        {{render 'poolRow' curr}}
      {{/each}}
    </tbody>
  </table>
</div>
