<div class="well well-small volume clearfix">
  Last 24hrs trade volume:
  100500 {{pair.currency.name}} /
  0.100500 {{pair.market.name}}
  <div class="pull-right">
    <div class="label label-danger">
      Min: 0.1 {{pair.market.name}}
    </div>
    <div class="label label-success">
      Max: 1 {{pair.market.name}}
    </div>
  </div>
</div>
