<script type="text/javascript" src="//assets.zendesk.com/external/zenbox/v2.6/zenbox.js"></script>
<style type="text/css" media="screen, projection">
  @import url(//assets.zendesk.com/external/zenbox/v2.6/zenbox.css);
</style>
<script type="text/javascript">
  console.log('zenbox', Zenbox);
  if (typeof(Zenbox) !== "undefined") {
    Zenbox.init({
      dropboxID:   "20267487",
      url:         "https://coinex.zendesk.com",
      tabTooltip:  "Support",
      tabImageURL: "https://assets.zendesk.com/external/zenbox/images/tab_support_black_right.png",
      tabColor:    "white",
      tabPosition: "Right",
      hide_tab:    true
    });
  }
</script>

<div id="support">
  <div class="panel panel-small panel-default">
    <div class="panel-body">
      <a href="http://myaccount.zendesk.com/account/dropboxes/20267487"
         onClick="script: Zenbox.show(); return false;">Get support</a>
    </div>
  </div>
</div>

